*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: black;
}


.container{
    background-image: url("new\ back\ image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 644px;
    display: flex;
    justify-content: center;
    position: relative;
}


nav{
    display: flex;
    justify-content: space-between;
    width: 85vw;
    height: 15vh;
    align-items: center;
}


.logo{

    height: 40px;
}


.lang{
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 2.43em;
    padding-right: 2.43em;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.sign{
   border: none;
   border-radius: 5px;
   background-color: red;
   color: white;
   font-weight: 700;
   font-size: 15px;
   padding-top: 0.60em;
   padding-bottom: 0.60em;
   padding-left: 1em;
   padding-right: 1em;
   margin-left: 0.4em;
   cursor: pointer;
}

.container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 15em;
}



.text1{
    color:white;
    font-weight: bolder;
    font-size:4rem;
    font-family: sans-serif;
}


.text2{
    color: white;
    font-size: 1.65rem;
    font-weight: bolder;
    margin-top: 0.7em;
}


.box2{
    margin-top: 2.5em;
    text-align: center;
    display: flex;
}

.text3{
    color: white;
    font-weight: bolder;
    font-size: 1.18rem;
    margin-top: 2em;
  
}


.input1{
 
  background-color: black;
  color: white;
  padding-left: 1em;
  padding-top: 1.25em;
  padding-right: 18em;
  padding-bottom: 1.25em;
  border: none;
  border: 2px solid grey;
  border-radius: 5px;
}


.b1{
    background-color: red;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: 0.50em;
    cursor: pointer;
}


.line{
 border: 7px solid red;
 border-bottom: hidden;
 border-left: hidden;
 border-right: hidden;

}

@media only screen and (max-width: 660px){
  .text1{
    font-size: 2.4rem;
  }
  
  .text2{
     font-size: 1.4rem;
  }
  
  .text3{
   font-size: 0.70rem;
  }

  .input1{
    padding-left: 0.56em;
  padding-top: 0.75em;
  padding-right: 10em;
  padding-bottom: 0.75em;

  }

  .logo{
   font-size: 30px;

  }

     .lang{
    font-size: 0.80rem ;    
    padding-left: 2.30em;
    padding-right: 2.30em;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    }

  .sign{
    font-size: 15px;
   padding-top: 0.40em;
   padding-bottom: 0.40em;
   padding-left: 0.85em;
   padding-right: 0.85em;

  }
  


}



@media only screen and (max-width: 575px){
.input1{
  padding-left: 0.43em;
  padding-top: 0.55em;
  padding-right: 6em;
  padding-bottom: 0.55em;

}


}

@media only screen and (max-width: 520px){
    .b1{
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0.20em;
    }

}


@media only screen and (max-width: 430px){
  .input1{
  padding-left: 0.30em;
  padding-top: 0.44em;
  padding-right: 3em;
  padding-bottom: 0.44em;
  }

}

@media only screen and (max-width: 376px){
  .b1{
    font-size: 10px;  
    padding-left: 0.85em;
    padding-right: 0.85em;
    margin-left: 0.15em; 
     
  }

}

@media only screen and (max-width: 500px){

    nav{

        width: 90vw;
    }


}

@media only screen and (max-width: 490px){
  
    nav{
     width: 94vw;

    }


}

@media only screen and (max-width: 470px){
 nav{

    min-width: 97vw;
 }

}


@media only screen and (max-width: 461px){
 
    .lang{
    font-size: 0.70rem ;    
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    }

    .sign{
   font-size: 16px;
   padding-top: 0.40em;
   padding-bottom: 0.50em;
   padding-left: 0.76em;
   padding-right: 0.76em;
   margin-left: 0.4em;

    }

    .logo{
        height: 34px;
    }

}





.text4{
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  padding-top: 1.7em;
  padding-left: 6em;
}


.imgs{
  margin-top: 1.8em;
  height: 36vh;
  width: 80vw;
  overflow-x: auto;
  margin-left: 3em;
}

.imglist{
  display: flex;
  gap: 2em;
  padding-left: 7.5em;
}


.common{
  border-radius: 0.8em;
  cursor: pointer;
  height: 30vh;
}

.img1{
  position: relative;
}

.one{
  position: absolute;
  color: black;
  font-size: 4.8rem;
  top: 2em;
  text-align: center;
  left: 0em;
  font-weight: 700;
  font-family: sans-serif;
  -webkit-text-stroke: 0.25rem rgb(252, 249, 249);
}


.img2{
  position: relative;
}


.two{
  position: absolute;
  color: black;
  font-size: 4.8rem;
  top: 2em;
  text-align: center;
  left: 0em;
  font-weight: 700;
  font-family: sans-serif;
  -webkit-text-stroke: 0.25rem rgb(252, 249, 249);
}


.img3{
  position: relative;
}


.three{
  position: absolute;
  color: black;
  font-size: 4.8rem;
  top: 2em;
  text-align: center;
  left: 0em;
  font-weight: 700;
  font-family: sans-serif;
  -webkit-text-stroke: 0.25rem rgb(252, 249, 249);
}


.img4{
  position: relative;
}


.four{
  position: absolute;
  color: black;
  font-size: 4.8rem;
  top: 2em;
  text-align: center;
  left: 0em;
  font-weight: 700;
  font-family: sans-serif;
  -webkit-text-stroke: 0.25rem rgb(252, 249, 249);

}


.img5{
 position: relative;

}


.five{
  position: absolute;
  color: black;
  font-size: 4.8rem;
  top: 2em;
  text-align: center;
  left: 0em;
  font-weight: 700;
  font-family: sans-serif;
  -webkit-text-stroke: 0.25rem rgb(252, 249, 249);

}



.img6{
 position: relative;

}


.six{
  position: absolute;
  color: black;
  font-size: 4.8rem;
  top: 2em;
  text-align: center;
  left: 0em;
  font-weight: 700;
  font-family: sans-serif;
  -webkit-text-stroke: 0.25rem rgb(252, 249, 249);
}



.img7{
  position: relative;

}


.seven{
  position: absolute;
  color: black;
  font-size: 4.8rem;
  top: 2em;
  text-align: center;
  left: 0em;
  font-weight: 700;
  font-family: sans-serif;
  -webkit-text-stroke: 0.25rem rgb(252, 249, 249);

}


.img8{
   position: relative;

}


.eight{
  position: absolute;
  color: black;
  font-size: 4.8rem;
  top: 2em;
  text-align: center;
  left: 0em;
  font-weight: 700;
  font-family: sans-serif;
  -webkit-text-stroke: 0.25rem rgb(252, 249, 249);

}


.img9{
  position: relative;

}


.nine{
  position: absolute;
  color: black;
  font-size: 4.8rem;
  top: 2em;
  text-align: center;
  left: 0em;
  font-weight: 700;
  font-family: sans-serif;
  -webkit-text-stroke: 0.25rem rgb(252, 249, 249);

}


.img10{
   position: relative;

}


.ten{

  position: absolute;
  color: black;
  font-size: 4.8rem;
  top: 2em;
  text-align: center;
  left: 0em;
  font-weight: 700;
  font-family: sans-serif;
  -webkit-text-stroke: 0.25rem rgb(252, 249, 249);
  
}



.text5{
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  padding-top: 3em;
  padding-left: 6em;
}



#flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 80vw;
  margin-left:4em;
}

.box{
  background-color: rgb(33, 2, 62);
  border: 2px solid white;
  height: 37vh;
  margin-top: 1em;
  width: 37vw;
  margin-left: 1em;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;

}


.layout{
  text-align: center;
  color: white;
  font-size: 1.36rem;
  font-weight: 800;
  font-family: sans-serif;
  margin-top: 2rem;
}


.p{
  margin-top: 2em;
  color: rgb(184 182 188);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}


 
@media only screen and (max-width: 1200px){
 
  #flex{
    flex-wrap: wrap;
  }

} 


@media only screen and (max-width: 376px){
 
  #editx{
    font-size: 12px;
  }


}


@media only screen and (max-width: 401px){
 
  #woo{
    margin-right: 3em;
  }

  #editx{
    font-size: 13px;
  }

}


@media only screen and (max-width: 465px){
  #editx{
    font-size: 13px;
  }
}



@media only screen and (max-width: 354px){

  #now{
    font-size: 1.24rem;

  }

}


@media only screen and (max-width: 329px){
 
  #too{
    font-size: 14px;
  }
 
}


@media only screen and (max-height: 600px){

   #xyz{
    
     top: 1.6em;

   } 

}


.text6{
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  padding-top: 3em;
  padding-left: 6em
}



.set{
 height: 60vh;
 width: 80vw;
 margin-top: 1em;
 padding-left: 2em;
}


.mani{
  display: flex;
  justify-content: center;
}


.atems{
  background-color: rgba(45, 45, 45, 1);
  padding: 1.5rem;
  color: white;
  list-style: none;
  margin: 1.5em;
  cursor: pointer;

}


.atems:hover{
   background-color: rgb(64, 62, 62);
}


@media only screen and (max-width: 1201px){
  .container5{
    margin-top: 45em;
  }
}

@media only screen and (max-width: 341px){
  .zoo{
    text-align: center;
  }
}


.container6{
  margin-top: 13em;
  margin-left: 25em;
}



.container7{
  margin-top: 6em;
  margin-left: 6em;
}

.onex{
   color: rgb(189, 183, 183);
}

.pal{
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-left: 2em;
  height: 60vh;
  width: 60vw;

}

.koo{
    color: rgb(189, 183, 183);
  list-style: none;
}


.lal{
  display: flex;
  justify-content: space-between;
  margin-top: -24em;
  margin-left: 2em;
    height: 60vh;
  width: 60vw;
}

.noo{
     color: rgb(189, 183, 183);
  list-style: none;

}


.kal{
  display: flex;
  justify-content: space-between;
  margin-top: -24em;
  margin-left: 2em;
    height: 60vh;
  width: 60vw;
}


.aoo{
   color: rgb(189, 183, 183);
  list-style: none;  

}


.zal{
  display: flex;
  justify-content: space-between;
  margin-top: -24em;
  margin-left: 2em;
    height: 60vh;
  width: 50vw;
}


.eoo{
    color: rgb(189, 183, 183);
  list-style: none;  

}


.buttonsd{
  margin-top: -22em;
}


.name{

    margin-top: 3em;
    color: rgb(189, 183, 183);
}


.kee{
   margin-top: 3em;
    color: rgb(189, 183, 183);
}